@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --color-green: #50fa7b;
  --color-purple: #7159c1;
}

.todo-week {
  background-color: var(--color-purple);
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  justify-items: center;
  
}

.todo-day {
  height: 600px;
  width: 400px;
  border: 2px solid var(--color-green);
  border-radius: 10px;
  position: relative;
}

h3 {
  color: white;
  font-size: 34px;
  margin: 5px;
}

input {
  position: absolute;
  bottom: 10px;
  border-radius: 5px;
  margin-left: 10px;
  width: 80%;
  height: 34px;
  font-size: 24px;
  padding-left: 5px;
}

.add_button {
  color: white;
  position: absolute;
  right: 10px;
  bottom: 1px;
}

/* Rules for sizing the icon. */

.material-icons.md-48 { font-size: 48px; }